* {
    padding: 0;
    margin: 0;
}

:root {
    --color1: #F1F1F6;
    --color2: #E1CCEC;
    --color3: #C9B6E4;
    --color4: #5a24d7;
    --color5: #141469;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: url(assets/background.jpg);
    background-size: 100% 100%;
}

/*Cartlarım-Start*/

.main-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    position: fixed;
    top: 8rem;
}

.img-container {
    height: 7rem;
    width: 7rem;
    position: relative;
    cursor: pointer;
    border: 4px solid white;
}

.img-container img {
    width: 80%;
    height: 80%;
    z-index: 99;
}

.back-face,
.front-face {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C9B6E4;
}

.front-face {
    z-index: 9;
}
.back-face {
    z-index: 9999999;
    background:linear-gradient(var(--color1), var(--color4));
    perspective: 600px;
}

/*Buton  Görünüşlerim*/
#resume{
    position: absolute;
    top: 14rem;
}
#restart{
    position: absolute;
    top: 20rem;
}
#quit {
position: absolute;
top: 26rem;
}
#resume,
#restart,
#quit {
    width: 30%;
}


#setting,
#sound,
#bonus {
    position: absolute;
    left: 3rem;
    border-radius: 50px;
}

#setting {
    position: absolute;
    top: 3rem;
}

#sound {
    position: absolute;
    top: 8rem;
}

#bonus {
    position: absolute;
    top: 9rem;
}


.button a {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    background-color: var(--color2);
    display: block;
    position: relative;
    padding: 10px 20px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);

    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #5a24d7;
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #5a24d7;
    box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #5a24d7;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.button a:active {
    top: 10px;
    background-color: #C9B6E4;

    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #5a24d7;
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #5a24d7;
    box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #5a24d7;
}

.button:after {
    content: "";
    height: 100%;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -15px;
    left: -4px;
    z-index: -1;
    background-color: #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


/*Saat görünümü*/
.clock-container {
    position: absolute;
    display: flex;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    border-radius: #fff;
    top: 3rem;
    right: 0;
}
.clock-container img {
    width: 160px;
}
.time-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    right: 130px;
    top: 11px;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    background-color: white;
    color: var(--color5);
    padding: 5px;
}

.time-div span {
    font-size: 2rem;
    padding: 0.2rem;
}
/****************Js için Css*********************/
.hidden {
    display: none;
  }
/*Modal Yapım*/

.score,
.modal {
    
    width: 30%;
    height: 40%;
    background-color: var(--color4);
    padding: 60px;
    border-radius: 5px;
    z-index: 999999;
  }
  
  #ovarlay2,
  #overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 99999;
  }
  
/*Card dönüşü*/

/*Açma Animasyonu*/
.swing-out-top-fwd-on {
	-webkit-animation: swing-out-top-fwd 0.55s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
	        animation: swing-out-top-fwd 0.55s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-1-30 22:16:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-out-top-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes swing-out-top-fwd {
    0% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
    100% {
      -webkit-transform: rotateX(70deg);
              transform: rotateX(70deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
  }
  @keyframes swing-out-top-fwd {
    0% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
    100% {
      -webkit-transform: rotateX(70deg);
              transform: rotateX(70deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
  }
  
  /*Kapatma animasyonu*/
  .swing-out-top-fwd-close {
	-webkit-animation: swing-out-top-fwd 0.55s cubic-bezier(0.600, -0.280, 0.735, 0.045) reverse ;
	        animation: swing-out-top-fwd 0.55s cubic-bezier(0.600, -0.280, 0.735, 0.045) reverse ;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-1-30 22:30:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-out-top-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes swing-out-top-fwd {
    0% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
    100% {
      -webkit-transform: rotateX(70deg);
              transform: rotateX(70deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
  }
  @keyframes swing-out-top-fwd {
    0% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
    100% {
      -webkit-transform: rotateX(70deg);
              transform: rotateX(70deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
  }
  